<!DOCTYPE html>
<html>
<link rel="stylesheet" href="static/css/style.css?q=1280549780">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<body>
<hgroup>
    <h1>Wheat Head Detection</h1>
</hgroup>
<form action="{{ url_for('predict') }}" class="form-upload" method=post enctype=multipart/form-data>
    <div class="row" style="text-align:center">
        <div class="col-md">
                <select class="custom-select d-block w-10" id="wheat_image" name="selected-image">
                    <option value="">Choose an image or upload your own</option>
                    <option value="2fd875eaa.jpg">2fd875eaa.jpg</option>
                    <option value="51b3e36ab.jpg">51b3e36ab.jpg</option>
                    <option value="51f1be19e.jpg">51f1be19e.jpg</option>
                    <option value="53f253011.jpg">53f253011.jpg</option>
                    <option value="348a992bb.jpg">348a992bb.jpg</option>
                    <option value="796707dd7.jpg">796707dd7.jpg</option>
                    <option value="aac893a91.jpg">aac893a91.jpg</option>
                    <option value="cb8d261a3.jpg">cb8d261a3.jpg</option>
                    <option value="cc3532ff6.jpg">cc3532ff6.jpg</option>
                    <option value="f5a1f0358.jpg">f5a1f0358.jpg</option>
                    <div class="invalid-feedback">
                        Please select or upload a valid image.
                    </div>
                </select>
        </div>
        <div class="col-md">
            <input type="file" id="validationImageArea" name="custom-image" class="form-control" autofocus>
        </div>
    </div>
    <div style="text-align:center">
        <button type="submit" class="btn btn-primary mt-4">Predict
        </button>
    </div>
</form>
<div style="text-align:center">
    {% if image_loc %}
    <img src="{{image_loc}}" width="350" height="350">
    {%endif%}
</div>
<footer>
    <a href="https://github.com/tanmaypandey7/wheat-detection" target="_blank"><img src="https://image.flaticon.com/icons/svg/25/25231.svg"></a>
    <p class="mt-2">Made by Tanmay</a></p>
</footer>
</body>
</html>
